spark-*.*.*-bin-hadoop*
spark-*.*.*-bin-hadoop*/
kibana-*.*.*-*.tar.gz
kibana-*.*.*/

elasticsearch-hadoop-7.6.2/
spark-2.4.5-bin-hadoop2.7/
.ipynb_checkpoints/

*/**/*.DS_Store

# environment variables
.env*
!.env.*.example